<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border-1 bg-secondary logo p-2" routerLink="/">Sweet Peak Design</div>
            </a>
        </div>
    </div>
    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal p-1">
            <li><a href="/">Home</a></li>
            <li>
                <details #productsMenu>
                    <summary>Products</summary>
                    <ul class="z-30">
                        <li><a href="/products">All</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details #adminMenu>
                    <summary>Admin</summary>
                    <ul class="z-30">
                        <li><a href="/products">All</a></li>
                    </ul>
                </details>
            </li>
        </div>
    </div>
</div>